h1	{
	font-family: cursive;
}

h2	{
	text-align: center;
}

div >	p	{
	text-align:center;
	font-family: cursive;
	
}

img	{
	max-width: 65%;
	max-height: 65%;
	padding: 15px;
	position: relative;
}

nav {
	background-color: lightblue;
  }

  nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
  }


  nav li {
	margin-right: 20px;
	position: relative;
  }

  nav li a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 10px;
  }

  .bookList:hover, .interesting:hover {
	background-color: darkblue;
	padding: 10px;

  }

  #webLinks:hover {
	background-color: darkblue;
	padding: 10px;
  }

  .book1, .book2, .book4, .book7 {
	width: 200px;
	height: 300px;
}

.book1, .book2, .book3, .book4, .book5, .book6, .book7 {
	position: relative;
	left: 42.5%;
}

#movie1, #movie2, #movie3, #movie4, #movie5, #movie6, #movie7, #movie8 {
	position: relative;
	left: 150px;
}

.BookTitle {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 30px;
	font-weight: bold;
	text-decoration: underline;
}


  .dropdown-menu {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
  }

  .dropdown:hover .dropdown-menu {
	display: block;
	padding: 10px;
	
  }



  .dropdown-menu li a {
	background-color: rgb(58, 58, 58);
	color: white;
	padding: 10px;
  }

.background {
	background-color: lemonchiffon;
}

.alternateBackground {
	background-color: rgb(67, 214, 86);
  }

.images:hover {
transform:scale(.5, .5);
cursor: pointer;

}

.images:hover .info {
	background-color: lightgreen;
	transition-delay: 3s;
	transition-duration: 4s;
}

.movielink1:hover {
	transform: scale(2.2, 2.2);
    background-color: lightsalmon;  
    cursor: pointer;
}

.movielink2:hover {
	transform: scale(2.2, 2.2);
    background-color: lightsalmon;  
    cursor: pointer;
}

.movielink3:hover {
	transform: scale(2.2, 2.2);
    background-color: lightsalmon;  
    cursor: pointer;
}

.movielink4:hover {
	transform: scale(2.2, 2.2);
    background-color: lightsalmon;  
    cursor: pointer;
}

.movielink5:hover {
	transform: scale(2.2, 2.2);
    background-color: lightsalmon;  
    cursor: pointer;
}

.movielink6:hover {
	transform: scale(2.2, 2.2);
    background-color: lightsalmon;  
    cursor: pointer;
}

.movielink7:hover {
	transform: scale(2.2, 2.2);
    background-color: lightsalmon;  
    cursor: pointer;
}

.movielink8:hover {
	transform: scale(2.2, 2.2);
    background-color: lightsalmon;  
    cursor: pointer;
}

.ListContainer	{
	text-align: center;

}

.UL	{
	display: inline-block;
  	text-align: left;
	list-style-type: none;
}


.info	{
	
	font-size: 25px;
	padding-right: 60px;
}

.container	{
	display: grid;
 	align-items: center; 
 	grid-template-columns: auto auto;
 	column-gap: 5px;
}

.movieTable {
	position:absolute;
	top: 0;
	right: 0;
}

.tCenter	{
	margin-left: auto;
	margin-right: auto;
}

table, th, td	{
	background-color: gray;
	border: 1px solid black;
	padding: 5px;
}

.switchButton:hover {
	transform: scale(1.3, 1.3);
	color: red;
	border: solid 2px red;
    box-shadow: 2px 2px 3px;
    border-radius: 10px; 
	cursor: pointer;
 }

body	{
	background-image: url("PH_GamePlayTrailerThumb_Screenshot_3.webp");
	background-size: cover;
}
